---
layout: page
title: News
full_posts: 2
redirect_from:
  - "/category/COMM/"
---

{% for post in site.posts %}
  {% if forloop.index < page.full_posts %}
    <article>
      <header>
        <h2><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h2>
        <aside class="post--date"><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %-d, %Y" }}</time></aside>
      </header>
      {{post.content}}
    </article>
  {% else %}
    {% if forloop.index == page.full_posts %}
    <h2>Previous News</h2>
    <dl class="datelist">
    {% endif %}
      <div>
        <dt><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time></dt>
        <dd><a href='{{site.baseurl}}{{ post.url }}'>{{ post.title }}</a></dd>
      </div>
  {% endif %}
{% endfor %}
  </dl>
