---
layout: page
title: News
full_posts: 2
redirect_from: 
  - "/category/COMM/"
---

<section>
{% for post in site.posts %}
  {% if forloop.index < page.full_posts %}
  <article class="post">
    <h2><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h2>
    <aside class="date"><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %-d, %Y" }}</time></aside>
    <section class="body">{{post.content}}</section>
  </article>
  <hr>
  {% else %}
    {% if forloop.index == page.full_posts %}
    <section>
    <h3>Previous News</h3>
    <ul>
    {% endif %}
      <li><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time> | <a href='{{site.baseurl}}{{ post.url }}'>{{ post.title }}</a></li>
  {% endif %}  
{% endfor %}
  </ul>
  </section>
</section>