<footer class="footer">
  <div class="container">
    <p>
      Follow us on <a href="https://twitter.com/mathjax" target="_blank">Twitter</a>,
      <a href="https://www.facebook.com/mathjax" target="_blank">Facebook</a>,
      <a  href="http://www.linkedin.com/groups/MathJax-Community-3772588" target="_blank">LinkedIn</a>
      or subscribe to our <a href="http://eepurl.com/hqn6-/" target="_blank">email newsletter</a>.
    </p>
    <p>MathJax &copy;2009-{{ site.time | date: '%Y' }} <a href="mailto:info@mathjax.org">info@mathjax.org</a></p>
  </div>
</footer>
