<footer class="footer">
  <div class="container">
    <p>
    <a href="#privacy-statement" id="to-privacy-statement">Privacy Statement</a>
    </p>
    <div class="cards">
      <div class="card card--popout" id="privacy-statement">
        <h3>Privacy Statement</h3>
        <p>
        MathJax.org does not collect, maintain, distribute, purchase, or
        sell personal data of any kind, and uses no cookies or other
        tracking or advertising techniques.
        </p>
        <p>
        Likewise, the MathJax software does not track you, and uses
        local storage only to maintain your preferences as set by the
        MathJax contextual menu.
        </p>
        <a href="#to-privacy-statement" aria-label="Close pop-out" class="card--popout__close"></a>
      </div>
    </div>
    <p>
      Follow us on <a href="https://twitter.com/mathjax" target="_blank">Twitter</a> and
      <a href="https://www.facebook.com/mathjax" target="_blank">Facebook</a>
    </p>
    <p>MathJax &copy;2009-{{ site.time | date: '%Y' }} <a href="mailto:info@mathjax.org">info@mathjax.org</a></p>
  </div>
</footer>
