<header>
    <nav class="navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  href="{{ site.baseurl }}/">{{ site.title }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ site.baseurl }}/#features">Features</a>
                    </li>
                    <li><a href="{{ site.baseurl }}/#docs">Documentation</a>
                    </li>
                    <li><a href="{{ site.baseurl }}/#sponsors">Sponsors</a>
                    </li>
                    <li><a href="{{ site.baseurl }}/#contact">Contact</a>
                    </li>
                    <li><a href="{{ site.baseurl }}/#about">About</a>
                    </li>
                    <li><a href="{{ site.baseurl }}/news/">News</a>
                    </li>
                    <li><a style="background-color:#5cb85c!important; color:#fff!important;" href="https://pledgie.com/campaigns/27873">Donate!
<svg role="presentation" xmlns="http://www.w3.org/2000/svg" height="16" width="16"><g fill="#fff"><path d="M1.97 4C.874 4 0 4.8 0 5.9v8.063c0 1.093.875 1.968 1.97 1.968h8.06c1.095 0 1.97-.873 1.97-1.966V7.93h-1v6c0 .555-.446 1-1 1H2c-.554 0-1-.445-1-1v-8c0-.553.446-1 1-1h6v-1H1.97z"/><path d="M9 0v1h5.313l-8.5 8.5.687.688 8.5-8.5V7h1V0H9z"/></g></svg></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
