<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- TODO remove unsafe-* when v3 becomes available -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'unsafe-inline' 'unsafe-eval' 'self' https://cdn.jsdelivr.net http://www.google-analytics.com https://ssl.google-analytics.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; img-src 'self' https://www.mathjax.org https://www.google-analytics.com https://img.shields.io https://www.paypalobjects.com; font-src 'self' https://cdn.jsdelivr.net https://fonts.gstatic.com; connect-src 'self' https://ssl.google-analytics.com/ https://cdn.jsdelivr.net" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/feed.xml" title="MathJax Atom feed">
  {% seo %}
  <script type="text/javascript" async src="{{ site.baseurl }}/js/main.js"></script>
</head>
