<section id="about">
    <div class="container">

      <h2>About us <a href="http://www.numfocus.org"><img
      src="https://img.shields.io/badge/powered%20by-NumFOCUS-orange.svg?style=flat&colorA=E1523D&colorB=007D8A"
      alt="powered by NumFOCUS" /></a></h2>
      <p>
         MathJax is a fiscally sponsored project under the auspices of the
         <a href="http://www.numfocus.org">NumFOCUS Foundation</a>, which serves as the
         legal and fiscal umbrella for the MathJax project and several dozen other
         open-source, scientifically oriented software products.
      </p>
      <p>
         Originally, MathJax was supported by The MathJax Consortium, a joint venture of the
         <a href="http://www.ams.org">American Mathematical Society</a> (AMS) and the
         <a href="http://www.siam.org">Society for Industrial and Applied Mathematics</a> (SIAM)
         to advance mathematical and scientific content on the web.  We are grateful for the
         commitment offered by the Consortium for over 10 years, without which MathJax would
         not exist today.
      </p>

        <h3>Core Goals</h3>
        <p>
          The core of the MathJax project is the development of its state-of-the-art, open source,
          JavaScript platform for display of mathematics. Our key design goals are:
        </p>
        <ul>
          <li>High-quality display of mathematics notation in all browsers.</li>
          <li>No special browser setup required.</li>
          <li>Support for LaTeX, MathML, and other equation markup directly in the HTML source.</li>
          <li>An extensible, modular design with a rich API for easy integration into web applications.</li>
          <li>Support for accessibility, copy and paste, and other rich functionality.</li>
          <li>Interoperability with other applications and math-aware search.</li>
          <li>Support for equation conversion outside a browser (e.g., preprocessing on a server).</li>
        </ul>

        <h3>Advisory Committees</h3>
        <p>
          The MathJax Steering Committee and the MathJax Technical Committee meet regularly to
          advise the MathJax team on its development goals and priorities. We’re grateful for the
          support of our committee members!
        </p>

        <h4>MathJax Steering Committee</h4>
        <ul>
          <li>David Fullerton, Stack Overflow</li>
          <li>Ken Rawson, IEEE</li>
          <li>Paul Mostert, Elsevier</li>
          <li>Ted Kull, SIAM</li>
          <li>Robert Harington, AMS</li>
          <Li>Davide Cervone, MathJax</li>
          <li>Volker Sorge, MathJax</li>
        </ul>

        <h4>MathJax Technical Committee</h4>
        <ul>
          <li>Omar Al-Ithawi, Edraak</li>
          <li>David Carlisle, NAG Ltd</li>
          <li>Paul Dlug, APS</li>
          <li>Jason Grout, Bloomberg</li>
          <li>Jean Kaplansky, McGraw Hill Higher Education</li>
          <li>Martin Lessmeister, arXiv.org</li>
          <li>Christopher Maloney, NIH</li>
          <li>Marko Obrovac, Wikimedia Foundation</li>
          <li>Matias Piipari, ManuscriptApp</li>
          <li>Phil Schatz, OpenStax CNX</li>
          <li>Neil Soiffer, Independent Consultant</li>
          <li>Alfred Wassermann, Universität Bayreuth</li>
          <li>Ed Woodward, OpenStax CNX</li>
          <li>Peter Krautzberger, krautzource</li>
          <li>Davide Cervone, MathJax</li>
          <li>Volker Sorge, MathJax</li>
        </ul>

        <h3>History</h3>
        <p>
          MathJax grew out of the popular <a href="http://www.math.union.edu/~dpvc/jsMath/">jsMath</a>
          project, an earlier Ajax-based math rendering system developed by Davide Cervone in
          2004. In the following years, there were many significant developments relevant for web
          publication of mathematics: consolidation of browser support for CSS 2.1, Web Font
          technology, adoption of math accessibility standards, and increasing usage of XML
          workflows for scientific publication.
        </p>
        <p>
          In 2009, the AMS, Design Science, and SIAM formed the MathJax Consortium to enable Cervone
          and others to design MathJax from the ground up as a next-generation platform, while still
          benefiting from the extensive real-world experience gained from jsMath. Since its initial
          release in 2010, MathJax has become the gold standard for mathematics on the web.
        </p>
        <p>
          In 2019, MathJax joined the <a href="https://www.numfocus.org">NumFOCUS</a> family of
          open-source software products as a fiscally sponsored project.  MathJax continues to be
          supported by the founding sponsors and other partners, as it joins this dynamic community.
        </p>
        <p>
          Over the years since MathJax was first developed, new web technologies and paradigms
          emerged, and MathJax was not always easy to incoporate into these new approaches.  In
          2017, after nearly a decade of use, work on MathJax version 3 was begun, a complete
          rewrite of MathJax from the ground up using modern techniques.  This new version
          integrates with current toolchains and frameworks, and can run equally well in a browser
          on a server, or in a stand-alone application.  It should form a solid foundation for
          another decade of MathJax use, and its use of the Typescript language should make
          contributions from our user community easier to produce and incorporate into MathJax.
        </p>

        <h3>The MathJax Team</h3>
        <p>
          The MathJax team consists of <a href="https://github.com/dpvc">Davide Cervone</a> and
          <a href="https://github.com/zorkow">Volker Sorge</a>.  Regular contributors include
          <a href="https://github.com/christianp">Christian Lawson-Perfect</a>,
          <a href="https://github.com/OmarIthawi">Omar Al-Ithawi</a>,
          and
          <a href="https://github.com/pkra">Peter Krautzberger</a>.
        </p>
  </div>
</section>
