<section id="docs">
  <div class="container">
    <h2>Documentation <img class="shield" src="https://img.shields.io/github/release/mathjax/mathjax.svg" alt=""></h2>

    <div class="cards">

      <div class="card">
        <div>
          <h3>Getting Started</h3>
          <p>
            <img src="img/code.svg" alt="" class="card--img">
            Whether you're a casual user, a serious author, or a professional developer, it's easy to
            integrate MathJax.
          </p>
        </div>
        <a class="btn" href="#gettingstarted" id="to-gettingstarted">Learn more</a>
      </div>

      <div class="card">
        <div>
          <h3>A rich API</h3>
          <p>
            <img src="img/api.svg" alt="" class="card--img">
            Use our extensive APIs to create interactive content, advanced authoring tools, and
            math-enabled web and mobile apps.
          </p>
        </div>
        <a class="btn" href="#apis" id="to-apis">Dive deeper</a>
      </div>

      <div class="card">
        <div>
          <h3>Works everywhere</h3>
          <p>
            <img src="img/browsers.svg" alt="" class="card--img">
            MathJax generates high-quality output on all browsers &amp; platforms - even legacy
            browsers such as IE 6 (if you have to).
          </p>
        </div>
        <a class="btn" href="#browsers" id="to-browsers">Check our overview</a>
      </div>

      <div class="card">
        <div>
          <h3>Bugs, Issues, Code</h3>
          <p>
            <img src="img/gh-mark.svg" alt="" class="card--img">
            We host our code, docs, and this site on GitHub. Please
            <a href="https://github.com/mathjax/MathJax/blob/master/CONTRIBUTING.md#reporting-an-issue">report
            issues</a> &amp;
            <a href="https://github.com/mathjax/MathJax/blob/master/CONTRIBUTING.md#working-on-mathjax-core">submit
            patches</a>!
          </p>
        </div>
        <a class="btn" href="https://github.com/mathjax/MathJax-src">Visit us on GitHub</a>
      </div>

      <div class="card">
        <div>
          <h3>General Support</h3>
          <p>
            <img src="img/mailing.svg" alt="" class="card--img">
            You can ask general questions on the
            <a href="https://groups.google.com/forum/#!forum/mathjax-users">MathJax-Users</a> mailing
            list where the entire community can chime in.
          </p>
        </div>
        <a class="btn" href="http://docs.mathjax.org/en/latest/basic/community.html#mailing-lists">Learn more</a>
      </div>
    </div>

    <div class="card card--popout" id="gettingstarted">
      <h3>Simple integration</h3>
      <p>
        Adding MathJax to your web pages is easy to do.  
      </p>
      <p>
        If you are using a Content Management System (like Wordpress, Moodle, or Drupal) to generate
        your web site, there may be a plugin to add MathJax to your site already, e.g.,
        <a href="https://wordpress.org/plugins/search/mathjax/">for Wordpress</a> or
        <a href="https://www.drupal.org/project/mathjax">Drupal</a>.  You may need to download or
        activate the plugin, if one is available.
      </p>
      <p>
        If you are using specialized authoring tools, such as LaTeX or Markdown, they might
        integrate MathJax out of the box or have plugins, e.g., for
        <a href="https://tex.stackexchange.com/a/1654/19276">LaTeX</a>,
        <a href="https://www.sitepoint.com/best-markdown-editors-windows/">Markdown</a>, or even
        <a href="https://sigil-ebook.com/" rel="nofollow">epub</a>.
      </p>
      <hr>
      <p>
        If you write your own HTML (directly or via a template/theme engine), you can include
        MathJax by adding this snippet to your page:
      </p>
      <div class="snippet">
        <pre><code>&lt;script src="https://polyfill.io/v3/polyfill.min.js?features=es6"&gt;&lt;/script&gt;
&lt;script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"&gt;&lt;/script&gt;</code></pre>
      </div>
      <p>Here's a pre-populated <a href="http://jsbin.com/?html=%3C!DOCTYPE%20html%3E%0A%3Chtml%3E%0A%3Chead%3E%0A%20%20%3Cmeta%20charset%3D%22utf-8%22%3E%0A%20%20%3Cmeta%20name%3D%22viewport%22%20content%3D%22width%3Ddevice-width%22%3E%0A%20%20%3Ctitle%3EMathJax%20example%3C%2Ftitle%3E%0A%20%20%3Cscript%20src%3D%22https%3A%2F%2Fpolyfill.io%2Fv3%2Fpolyfill.min.js%3Ffeatures%3Des6%22%3E%3C%2Fscript%3E%0A%20%20%3Cscript%20id%3D%22MathJax-script%22%20async%0A%20%20%20%20%20%20%20%20%20%20src%3D%22https%3A%2F%2Fcdn.jsdelivr.net%2Fnpm%2Fmathjax%403%2Fes5%2Ftex-mml-chtml.js%22%3E%0A%20%20%3C%2Fscript%3E%0A%3C%2Fhead%3E%0A%3Cbody%3E%0A%3Cp%3E%0A%20%20When%20%5C(a%20%5Cne%200%5C)%2C%20there%20are%20two%20solutions%20to%20%5C(ax%5E2%20%2B%20bx%20%2B%20c%20%3D%200%5C)%20and%20they%20are%0A%20%20%5C%5Bx%20%3D%20%7B-b%20%5Cpm%20%5Csqrt%7Bb%5E2-4ac%7D%20%5Cover%202a%7D.%5C%5D%0A%3C%2Fp%3E%0A%3C%2Fbody%3E%0A%3C%2Fhtml%3E&live" target="_blank">example on jsbin</a> you can re-use.</p>
      <p>
        <strong>Note:</strong> the configuration file <code>tex-mml-chtml.js</code> is a great way
        to test both TeX and MathML input options at once. You can find leaner
        <a href="http://docs.mathjax.org/en/latest/web/components/combined.html">combined
        configuration packages</a> in our documentation.
      </p>
      <hr>
      <p>
        If you use the snippet above, you will not need to change the version number in the
        <code>src</code> attribute every time the version of MathJax changes.  If you want to always
        use a specific version, then use a reference like
      </p>
      <div class="snippet">
        <pre><code>&lt;script src="https://polyfill.io/v3/polyfill.min.js?features=es6"&gt;&lt;/script&gt;
&lt;script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js"&gt;&lt;/script&gt;</code></pre>
      </div>
      <p>Here's a pre-populated <a href="http://jsbin.com/?html=%3C!DOCTYPE%20html%3E%0A%3Chtml%3E%0A%3Chead%3E%0A%20%20%3Cmeta%20charset%3D%22utf-8%22%3E%0A%20%20%3Cmeta%20name%3D%22viewport%22%20content%3D%22width%3Ddevice-width%22%3E%0A%20%20%3Ctitle%3EMathJax%20example%3C%2Ftitle%3E%0A%20%20%3Cscript%20src%3D%22https%3A%2F%2Fpolyfill.io%2Fv3%2Fpolyfill.min.js%3Ffeatures%3Des6%22%3E%3C%2Fscript%3E%0A%20%20%3Cscript%20id%3D%22MathJax-script%22%20async%0A%20%20%20%20%20%20%20%20%20%20src%3D%22https%3A%2F%2Fcdn.jsdelivr.net%2Fnpm%2Fmathjax%403.0.0%2Fes5%2Ftex-mml-chtml.js%22%3E%0A%20%20%3C%2Fscript%3E%0A%3C%2Fhead%3E%0A%3Cbody%3E%0A%3Cp%3E%0A%20%20When%20%5C(a%20%5Cne%200%5C)%2C%20there%20are%20two%20solutions%20to%20%5C(ax%5E2%20%2B%20bx%20%2B%20c%20%3D%200%5C)%20and%20they%20are%0A%20%20%5C%5Bx%20%3D%20%7B-b%20%5Cpm%20%5Csqrt%7Bb%5E2-4ac%7D%20%5Cover%202a%7D.%5C%5D%0A%3C%2Fp%3E%0A%3C%2Fbody%3E%0A%3C%2Fhtml%3E&live" target="_blank">example on jsbin</a> you can re-use.</p>
      <hr>
      <p>
        If you are a developer who wants to integrate MathJax into your workflow, you can <a
        href="https://github.com/mathjax/MathJax/archive/master.zip">download a copy</a> or fetch it
        from <a href="https://www.npmjs.com/package/mathjax">npm</a> or <a
        href="https://packagist.org/packages/mathjax/mathjax">Packagist</a> and configure MathJax
        yourself.  The <a href="https://github.com/mathjax/MathJax-src/archive/master.zip">source
        code</a> is available from <a href="https://www.npmjs.com/package/mathjax-full">npm</a>
        as well.  There are example files in the <a
        href="https://github.com/mathjax/MathJax-demos-web#MathJax-demos-web">MathJax Web
        Examples</a> repository.
      </p>
      <p>
        If you prefer to render server-side, MathJax version 3 makes that easy as well.  There are
        examples in our <a href="https://github.com/mathjax/MathJax-demos-node#MathJax-demos-node">MathJax Node
        Demos</a> repository.
      </p>
      <a class="btn btn--popout" href="https://docs.mathjax.org/en/latest/index.html">Jump to our docs</a>
      <a href="#to-gettingstarted" aria-label="Close pop-out" class="card--popout__close"></a>
    </div>

    <div class="card card--popout" id="apis">
        <h3>A rich set of APIs</h3>
        <p>
          Our extensive APIs allow developers to create everything from interactive content, to
          advanced authoring tools, to math-enabled web and mobile apps.
        </p>
        <p>
          To get started, check out how to
          <a href="http://docs.mathjax.org/en/latest/web/typeset.html">use dynamic math content</a>, or
          <a href="http://docs.mathjax.org/en/latest/web/webpack.html">write your own cusotm component</a>, or
          <a href="http://docs.mathjax.org/en/latest/index.html#server-nodejs">render on the
          server using NodeJS</a>. To dive deeper, start with the landing page in
        </p>
        <a class="btn btn--popout" href="https://docs.mathjax.org/en/latest/api/index.html">our API documentation</a>
        <a href="#to-apis" aria-label="Close pop-out" class="card--popout__close"></a>
    </div>

    <div class="card card--popout" id="browsers">
        <h3>Browser support</h3>
        <p>
          MathJax generates consistent, high-quality output on all browsers &amp; platforms. Our
          <a href="http://docs.mathjax.org/en/latest/output/index.html">output formats</a> support all
          the major browser, including: IE11, Edge, Chrome, Firefox, Safari, Opera, etc.
        </p>
        <p>

          Version 2 of MathJax supported earlier versions of IE, back to IE6 in some output formats,
          so if you need to support extremely old browsers, you can continue to use
          <a href="http://docs.mathjax.org/en/v2.7-latest/">MathJax v2.7.5</a> for those needs.
        </p>
        <p>
          You can find additional details in
          <a class="btn btn--popout" href="http://docs.mathjax.org/en/latest/output/browser.html">our documentation</a>
        </p>
        <a href="#to-browsers" aria-label="Close pop-out" class="card--popout__close"></a>
    </div>

  </div>
  </div>
</section>
