<section id="services">
  <div class="container">
    <h2>Services</h2>

    <div class="cards">
      <div class="card">
        <div>
          <h3>Content Transformation</h3>
          <p>
            <img src="img/EPUB.svg" alt="Stylized Epub logo" class="card--img">
            MathJax™ provides tools to transform your content from
            traditional print sources into modern, accessible web content and
            ePubs.
          </p>
        </div>
        <a class="btn" href="#epub" id="to-epub">Accessible Web and EPubs</a>
      </div>

      <div class="card">
        <div>
          <h3>Training and Teaching</h3>
          <p>
            <img src="img/Mortar.svg" alt="Stylized mortarboard" class="card--img">
              The MathJax team is available to train your staff in using our
              resources for preparing online teaching material and creating
              accessible STEM content.
          </p>
        </div>
        <a class="btn" href="#training" id="to-training">Learn more</a>
      </div>

      <div class="card">
        <div>
          <h3>Consultancy</h3>
          <p>
            <img src="img/keyboard.svg" alt="Stylized keyboard"
                 class="card--img">
              MathJax is highly flexible and can be tailored to the needs of
              your institution by creating customized configurations and specialized
              software workflows.
          </p>
        </div>
        <a class="btn" href="#consultancy" id="to-consultancy">Contact us</a>
      </div>
      
      <div class="card card--popout" id="epub">
        <h3>Content Transformation</h3>
        <p>
          MathJax can help you with the conversion of math documents from legacy
          sources and print content as well as with the generation of novel
          content that is online ready and fully accessible for readers with
          special needs. The MathJax team is available to consult on putting the
          necessary workflows in place in your institution.

        <h4>EPubs and Offline Content</h4>
        <p>
          MathJax can also be employed in server-side workflows to prepare
          content that can be viewed offline or generate documents that are
          compatible with modern ePub readers. Accessibility can be ensured by
          including alternative textual descriptions or more fine-grained speech
          annotations and Braille.
        <p>
          For further information on content-transformation services please <a
          href="mailto:info@mathjax.org">contact us</a>.
        </p>
        <a href="#to-epub" aria-label="Close pop-out" class="card--popout__close"></a>
      </div>

      <div class="card card--popout" id="training">
        <h3>Training and Teaching</h3>
        <p>
          The members of the <a href="#team">MathJax team</a> are professors in
          their own institutions with a long and successful track record in
          teaching and research. We regularly give presentations and workshops
          on the use of MathJax and its accessibility features for online
          teaching at international events.
        </p>
        <h4>Support for Online Teaching</h4>
        <p>
          MathJax is compatible with most Learning Management systems. We can
          help you to transfer your mathematical teaching materials to the web,
          allowing your faculty to teach mathematics online in an inclusive and
          accessible manner.
        </p>
        <h4>Support for Online Examinations</h4>
        <p>
          Remote online examinations are increasingly important. MathJax can
          help in preparing exam materials that are not only visually of the
          highest quality but also ensures that they are accessible for all
          students regardless of their individual needs.
        </p>
        <h4>Staff Training</h4>
        <p>
          We train teachers, faculty, and staff on how to prepare fully
          accessible math course materials. Training programs can be tailored to your
          specific requirements and those of your audience. We cover a variety
          of topics including:
          <ul>
          <li>porting math documents from sources like LaTeX, Word, and PDF to
          web formats containing SVG and MathJax,</li>
          <li>generating mathematical material that is both web-ready and ePub compatible,</li>
          <li>web accessibility and WCAG guidelines for teaching material in mathematics, and</li>
          <li>an introduction to assistive technologies for STEM subjects.</li>
          </ul>
        </p>

        <p>
        </p>
        
        <p>
          Please <a href="mailto:info@mathjax.org">contact us</a> for more
          information on how to get your teaching online and the training
          programs we can provide.
        </p>
        <a href="#to-training" aria-label="Close pop-out" class="card--popout__close"></a>
      </div>
      <div class="card card--popout" id="consultancy">
        <h3>Consultancy</h3>
        <p>
          MathJax is a highly modular and flexible system that can be adapted to
          fit the needs of any application and any content: from static website
          to highly dynamic environments; from simple teaching handouts to
          highly sophisticated typesetting in scientific publishing.  We can
          help you create the right configurations for you environments and
          adapt MathJax for the needs of your organization.
        </p>

        <h4>Upgrades</h4>
        <p>
          With the release of version 3.0, MathJax has moved to a modern <a
          href="https://www.typescriptlang.org/">TypeScript</a> implementation.
          If you need advice on upgrading your local installation, or your
          content to use MathJax v3, please contact us.
        </p>
        
        <h4>Fonts</h4>
        <p>
          We support a variety of fonts and employ techniques to adapt rendering
          of formulas to fit visually to their surrounding text. Should you need
          a specialised font or rendering support, it can be incorporated into
          our production pipeline to be available as an extension for your
          organization or in the core system.
        </p>

        <h4>Conversion Workflows</h4>
        <p>
          MathJax is an essential tool in converting traditional print sources
          to accessible, web-ready content. We can advise you on what tool chain
          is best for your needs, assemble installations, and provide you with
          bespoke MathJax customizations.
        </p>
          
        <h4>Accessibility</h4>
        <p>
          We provide consultancy on how to adapt your existing web-content,
          software solutions, and workflows to make them fully accessible for
          users with visual and print impairments. We will work with your own
          personnel to ensure that your material is fully accessible.
        </p>
       <p>
          If you have any particular needs for making MathJax working in your
          organization, please <a href="mailto:info@mathjax.org">contact us</a>
          regarding our consultancy services.
        </p>
        <a href="#to-consultancy" aria-label="Close pop-out" class="card--popout__close"></a>
      </div>
    </div>
</section>
